.wrapper{
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;           /*Primeira coluna terá 256px e a outra flexivel*/
    gap: 2rem;
    align-items: flex-start;                    /*Os itens sempre alinhados ao topo se não a side bar tentará ficar do mesmo tamanho dos post*/
}

@media (max-width: 768px){
    html{
        font-size: 87.5%;
    }

    .wrapper{
        grid-template-columns: 1fr;
    }
}
